#!/usr/bin/env bash
#
# {{ ansible_managed }}
#
SUDO=$(which sudo)

COMPOSER_PHAR="{{ composer.target_path }}"
$SUDO $(which {{ Dalee_install_php__phpdismod }}) -s cli xdebug
$(which {{ Dalee_install_php__php }}) $COMPOSER_PHAR "$@"
CODE=$?
$SUDO $(which {{ Dalee_install_php__phpenmod }}) -s cli xdebug
exit ${CODE}
