#!/usr/bin/env bash
#
# {{ ansible_managed }}
#

COMPOSER_PHAR="{{ composer.target_path }}"
sudo $(which {{ phpdismod }}) -s cli xdebug
$(which {{ php }}) $COMPOSER_PHAR "$@"
sudo $(which {{ phpenmod }}) -s cli xdebug
