[www]
; process owner
user = {{ php_user|default('vagrant') }}
group = {{ php_group|default('vagrant') }}

; socket owner
listen = /var/run/php5-fpm.sock
listen.owner = nobody
listen.group = nogroup
listen.backlog = -1

; server settings
pm = dynamic
pm.start_servers = 2
pm.max_children = 10
pm.min_spare_servers = 2
pm.max_spare_servers = 4
pm.max_requests = 500

; env
clear_env = no

; proxima related things
rlimit_files = 1024
rlimit_core = "unlimited"
security.limit_extensions = .phtml .php
